<!DOCTYPE html>
<html>

<head>
  <script data-ad-client="ca-pub-5274370025994358" async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-8FB675RP8Z"></script>
  <script> window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8FB675RP8Z');
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script> $.getJSON("https://api.ipify.org?format=json",
 function(data) {
  
            // Setting text of element P with id gfg
            $("#gfg").html(data.ip);
        })
    </script>
  <meta charset="utf-8">
  <meta property="og:image" content="https://i.ibb.co/jfZVKmC/babi2.jpg">
  <link rel="icon" type="image/png" href="https://i.ibb.co/jfZVKmC/babi2.jpg">
  <meta name="keywords" content="KingOfBear-Apikey, kingofbear, kingofbear apikey, Free rest api, king of bear, apikey king of bear, api xteam, tobz api, lolhuman api, programing unpas, studiovdk entertainment">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="free rest api viko beta version">
  <meta name="author" content="KING OF BEAR">
  <title>KING OF BEAR - BLOG</title>
  <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="public/css/ruang-admin.min.css" rel="stylesheet">
  <script src="https://studiovdk.herokuapp.com/main-menu/databs.js"></script>
  <script src="https://studiovdk.herokuapp.com/main-menu/berita.js"></script>
  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
  <link href="public/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <style> .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-info" href="#">
        <div class="sidebar-brand-icon">
          <span class="fas fa-fire"></span>
        </div>
        <div class="sidebar-brand-text mx-3">KING OF BEAR-API</div><br>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="./">
          <i class="fas fa-fw fa-code"></i>
          <span>Index</span></a><br>
      </li>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-book"></i>
          <span>Blog</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        <div class="version"><b>Sosial Media</b></div>
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.instagram.com/drak_ipul123/">
          <i class="fab fa-fw fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.youtube.com/channel/UCc4EJxdj9qV_eO2NNS3RgjA">
          <i class="fab fa-fw fa-youtube"></i>
          <span>Youtube</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.facebook.com/raraharsita2">
          <i class="fab fa-fw fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://github.com/saipulanuar">
          <i class="fab fa-fw fa-github"></i>
          <span>Github</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <div class="sidebar-heading">
        <div class="version"><b>Lainnya</b></div>
      </div>
        <a class="nav-link collapsed" href="https://tiktok.com/@raraharsita2">
          <i class="fas fa-fw fa-fire"></i>
          <span>Tiktok</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://saweria.co/raraharsita2">
          <i class="fas fa-fw fa-donate"></i>
          <span> Donate</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/bioku">
          <i class="fas fa-info-circle"></i>
          <span> Tentang</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="https://chat.whatsapp.com/HAZ6yFgCafUAeDbNH33IrL">
          <i class="fas fa-fw fa-robot"></i>
          <span>Whatsapp Bot</span>
        </a>
      </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              </div>
            </li>
            <style> .qon {
  float: left;
  width: 100%;
  padding: 1%;
  margin: 1% 10%;
  height: 40px;
  border-radius: 0.3em;
  box-shadow: 0 0.1em 0.4em;
}
</style>
</nav>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
        </style>
            <iframe width="100%" frameBorder="0" height="100%" src="https://www.saipulanuar.ml/" />

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
          <!-- Footer -->
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>copyright © <script>
                    document.write(new Date().getFullYear());
                  </script> - developed by <b><a href="#" target="_blank">KING OF BEAR</a></b>
                </span>
              </div>
            </div>
          </footer>
      </div>
      <!-- Scroll to top -->
      <script async="" src="https://api.countapi.xyz/hit/studiovdk.herokuapp.com/visits?callback=cb"></script>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="public/js/ruang-admin.js"></script>
      <script src="public/vendor/chart.js/Chart.min.js"></script>
      <script src="public/js/demo/chart-area-demo.js"></script>
      <script src="public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
      <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="https://viko-api.herokuapp.com/js/ruang-admin.js"></script>
      <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=7ae7e40116347' async='true'></script> 
      <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "1c7170fa-cbdb-498a-ba0d-9e6b1ea52df9";
        (function() {
          d = document;
          s = d.createElement("script");
          s.src = "https://client.crisp.chat/l.js";
          s.async = 1;
          d.getElementsByTagName("head")[0].appendChild(s);
        })();
      </script>
      <script type="text/javascript">
    var go_url = 'https://cararegistrasi.com/';
    var api = 'f13c88654b8ac9bd2b0545f2ce8f0c247eadff0f';
    var shorten_includ = ["https://viko-api.herokuapp.com/docs"];
      </script>
<script src='//safelinku.com/js/web-script.js'></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          vikoapi();
        })
        document.addEventListener("DOMContentLoaded", function() {
          markue();
        })
        document.addEventListener("DOMContentLoaded", function() {
          prosedur();
        })
      </script>
      <script>
        $(document).ready(function() {
          $('#dataTable').DataTable(); // ID From dataTable 
          $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
      </script>
    </div>
  </div>
</body>
</html>